* {
  font-family: 'Roboto', sans-serif;
}

/*.row{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.row_lists{
    width: 100%;
    margin-bottom: 20px;
}

.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.67%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.67%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width:66.67%;
}

.col-9{
    width:75%;
}

.col-10{
    width:83.33%;
}

.col-11{
    width:91.67%;
}

.col-12{
    width: 100%;
}

.nav{
  background-color: #318BFF;
  box-shadow: 0 2px 0 grey;
  margin: auto;
  text-align: center;
  color: white;
  height: 40px;
}

.nav .navItem:hover{
  background-color: #15BFB9;
}

#addNew{
  display: block;
  margin-top: 200px;
  text-align: center;
  height:100%;
}

.addNewText{
  text-align: center;
  font-weight: 500;
}*/

.nav {
    background-color: #00b0ff;
    height: 40px;
    box-shadow: 1px 1px 1px lightgrey;
    margin-bottom: 5px;
    color: white;
    font-weight: 200;
}

.company-name {
    color: white;
    font-weight: 300;
    font-style: normal;
    margin-top: 8px;
}

.tabs {
    color: white;
    font-weight: 300;
    font-style: normal;
    margin-top: 8px;
}

.card {
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: 1px 1px 1px grey;
    height: 250px;
    margin: 5px;
    text-align: center;
}

.card-image {
    height: 50%;
    width: 90%;
    text-align: center;
    cursor: pointer;

}

.card-name {
    font-weight: 300;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-price {
    color: red;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-description {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-button {
    color: yellow;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card_img {
    width: 100%;
    text-align: center;
    height: 100%;
}

.button {
    vertical-align: bottom;
    align-items: flex-end;
    color: white;
    text-align: right;
    margin: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

button {
    width: 50px;
    height: 50px;
    background-color: red;
    border: none;
    border-radius: 50%;
    text-align: center;
    outline: none;
    box-shadow: 2px 1px 2px grey;
    font-weight: 300;

}

a {
    text-decoration: none;
}