*{

}

html {

}

body {



}
.row{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}


.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.67%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.67%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width:66.67%;
}

.col-9{
    width:75%;
}

.col-10{
    width:83.33%;
}

.col-11{
    width:91.67%;
}

.col-12{
    width: 100%;
}

.img-responsive{
    max-width: 100%;
    height: auto;
}

.img-circle{
    border-radius: 50%;
}

.img-thumbnail,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    border-radius: 3px;
    border: 1px solid grey;
}

.nav {
    background-color: #1782e8;
}

.categories {
    margin: auto;
    text-align: center;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

.categories .item {
    text-align: center;
}

.card {
    border: 1px solid;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
    background-color: honeydew;
}

.card .card-image {
    height: 50%;
    width: 100%;
    text-align: center;
}

.img-responsive {
    height: 100%;
}

.card .card-title {
    font-weight: 300;
    color: black;
}

.card .card-price {
    color: red;
}