.form {
    margin: 30px;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 1px 1px 1px;
}

.itsMargin {
    margin: 10px;
    padding: 5px;
}

.nav {
    background-color: #00b0ff;
    height: 40px;
    box-shadow: 1px 1px 1px lightgrey;
    margin-bottom: 5px;
    color: white;
    font-weight: 200;
}

.company-name {
    color: white;
    font-weight: 300;
    font-style: normal;
    margin-top: 8px;
}

.tabs {
    color: white;
    font-weight: 300;
    font-style: normal;
    margin-top: 8px;
}